# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.history/
.lh/

# Credentials
config.py

# Visualizations/Logs
*.png
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

scripts/analyze_score_frequency/models/
